<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>アカウント登録（確認）</title>
</head>
<!--変数名とURLを正しいものに変更する-->

<body>
    <div style="text-align: center;">
        <h1>アカウント登録（完了）</h1>
        <p></p>
        <span th:text="${empName}"></span>さんのアカウントを<span th:text="${empId}"></span>　で作成しました。
        <p></p>
        <button type="submit">業務終了</button> <button type="submit">入力に戻る</button>

    </div>
</body>

</html>