<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>アカウント登録（確認）</title>
</head>
<!--変数名とURLを正しいものに変更する-->
<body>
    <div style="text-align: center;">
        <h1>アカウント登録（確認）</h1>
        <p>社員名 <span th:text="${empName}"></span></p>
        <p>アカウント名<span th:text="${empId}"></span></p>
        <p>パスワード <span th:text="${password}"></span></p>

        <br><a href="h">キャンセル</a>　　<a href="h">戻る　　</a><button type="submit">登録</button>

    </div>
</body>

</html>