<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">


<head>
    <meta charset="UTF-8">
    <title>ログイン画⾯</title>
    <style>
        .error {
            color: red;
        }
    </style>
    <div layout:fragment="content"></div>
</head>
<header>
    <div th:replace="~{fragment/login :: header}" style="height: 100px;"></div>
</header>

<body>
    <div style="text-align: center;">
        <br>
    <h1>ログイン</h1>
    <div th:if="${session[SPRING_SECURITY_LAST_EXCEPTION] != null}">
        <span th:text="${session[SPRING_SECURITY_LAST_EXCEPTION].message}" class="error"></span>
     </div>
    <div layout:fragment="content"> 
      <form th:action="@{/auth}" method="post"> 
      アカウント名：<input type="text" id="username" name="username">
         
         
        <p> </p>
        パスワード：<input type="password" id="password" name="password">
            
        <p></p>
        <button type="submit">ログイン</button>
        </span>
      </br>

        <p style="height: 100px;"> </p>
      </form>
    </div> 
    

</body>
<div th:insert="fragment/fragment::footer"></div>
</html>