<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <meta charset="UTF-8">
    <title>ログイン画⾯</title>
    <style>
        .error {
            color: red;
        }
    </style>
</head>

<body>
    <div style="text-align: center;">
        <h1>ログイン画⾯</h1>
        <h1>アカウント登録（入力）</h1>
        <div th:if="${session[SPRING_SECURITY_LAST_EXCEPTION] != null}">
            <span th:text="${session[SPRING_SECURITY_LAST_EXCEPTION].message}" class="error"></span>
            <form th:action="@{/auth}" method="post">
                社員名
                <br>アカウント名<input type="text" id="username" name="username" required></br>
                <br>パスワード<input type="password" id="password" name="password" required></br>
                <br><a href="h">キャンセル</a>　　<button type="submit">ログイン</button>
        </div>
        </form>
</body>

</html>